body {
    margin: 0;
    padding: 0;
}

.large-box {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background-color: black;
}

.corner-box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: teal;
}

#top-left {
    top: 0;
    left: 0;
}

#top-right {
    top: 0;
    right: 0;
}

#bottom-left {
    bottom: 0;
    left: 0;
}

#bottom-right {
    bottom: 0;
    right: 0;
}

.center-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: teal;
    top: 50%;
    left: 50%;
    margin-top: -50px; /* Half of the height */
    margin-left: -50px; /* Half of the width */
}
